@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #84cc16;
  --font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
